<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inventario</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand"><img alt="" height="80px" src="../img/teshlogo.png">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><!--aqui se pueden poner HOME--> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><!--aqui se pueden poner herrramientas --></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <a href="#" class="navbar-brand"><img alt="" height="80px" src="../img/tecnmBlanco.png">
              </form>
            </div>
          </nav>
      <br>
      <br>
      <div class="tranpsrents text-center">
          <div class="header ">
              <h1 class="display-4">Sistema de prestamo <br> Herramientas de laboratorio</h1>
          </div>
          <div class="card-body">
              <button type="button" class="btnn" data-toggle="modal" data-target="#exampleModalScrollable">
                  Registrarte
                </button> 
                <button type="button" class="btnn" data-toggle="modal" data-target="#Iniciar">Iniciar sesion
                </button>
          </div>
        </div>
      <br>
      <br>

<!--Modal inicio-->
  <div class="modal fade" id="Iniciar" tabindex="-1" role="dialog" aria-labelledby="IniciarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="coinatiner">
              <form class="needs-validation" novalidate>
                    <div class="form-group row">
                      <label for="validationCustom01" class="col-sm-3 col-form-label col-form-label-lg">Usuario</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control col-sm-12" id="validationCustom01" placeholder="Introducir usuario" value="Mark" required>
                      </div>
                      <div class="valid-feedback">very nice!</div>
                    </div> 
                    <div class="form-group row">
                      <label for="validationCustom03" class="col-sm-3 col-form-label col-form-label-lg">Contraseña</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control col-sm-12" id="validationCustom03" placeholder=" Contraseña" required>
                      </div>
                      <div class="invalid-feedback">Introducir contraseña.</div>
                    </div>
                    <button class="btn btn-primary " type="submit">Ingresar</button>
                  </form>

              <script>      
              (function() {
                'use strict';
                window.addEventListener('load', function() {
                  var forms = document.getElementsByClassName('needs-validation');
                  var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                        event.preventDefault();
                        
                        if (form.validationCustom01.value=="Mary") 
                          { 
                            if (form.validationCustom03.value=="hola") 
                            {              
                              location="page2.html"; 
                            } else {
                              event.stopPropagation();
                              
                                alert("Invalid Password");
                              }
                            } else {  
                              event.stopPropagation();
                              //alert("Invalid UserID");
                                }
                        }
                        form.classList.add('was-validated');                        
                        }, false);                       
                        });
                        }, false);                        
                        })();                     
                        </script> 
          </div>
      </div>
    </div>
  </div>
</div>
<!--Modal Registro-->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Resgistro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="coinatine">
            <button>hola bebe</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="guardar">Resgistrar </button>
        </div>
      </div>
    </div>
  </div>

      <script src="../js/jquery-3.3.1.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
    </body>
</html>